body {
  background-color: #0335ff;
}
.container {
  border-color: #000000;
  border-width: medium;
  border-style: solid;
  width: 350px;
  height: 375px;

}

.shuffle {
  clear: both;
}

.sort {
  clear: both;

}
.rows {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-content: space-between;
  width: 350px;
  height: 355px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.one {
  height: 2px;
  width: 50px;
  background-color: #000000;
}

.two {
  height: 2px;
  width: 50px;
  background-color: #000000;
}

.three {
  height: 2px;
  width: 50px;
  background-color: #000000;
}

.four {
  height: 2px;
  width: 50px;
  background-color: #000000;
}

.five {
  height: 2px;
  width: 50px;
  background-color: #000000;
}

.six {
  height: 2px;
  width: 50px;
  background-color: #000000;
}

.seven {
  height: 2px;
  width: 50px;
  background-color: #000000;
}

.eight {
  height: 2px;
  width: 50px;
  background-color: #000000;
}

.nine {
  height: 2px;
  width: 50px;
  background-color: #000000;
}

.ten {
  height: 2px;
  width: 50px;
  background-color: #000000;
}

.eleven {
  height: 2px;
  width: 50px;
  background-color: #000000;
}
